@import "bootstrap/dist/css/bootstrap.min.css";
#container {
  border: 1px solid blueviolet;
  width: 600px;
  height: 450px;
  user-select: none;
}
#dragAreaOf {
  border: 1px solid blueviolet;
  width: 600px;
  height: 450px;
  background-color: aqua;
}
#bookName {
  width: auto;
  height: 40px;
  cursor: move;
  background: red;
}
#authorName {
  display: inline-block;
  width: auto;
  height: 40px;
  cursor: move;
  background: green;
}
